{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}
        {{ form(form) }}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

